/*continue migration to tailwind css */

/* pointer-events-none and readonly from lat lng */

.leaflet-popup-content-wrapper {
  all: unset;
  /* background: inherit;
  color: inherit;
  box-shadow: inherit; */
}

.leaflet-popup-tip {
  background-color: rgb(45, 55, 72);
  /* border-color: rgb(213, 63, 140); */
}

/* .leaflet-popup-tip-container::before {} */
/* .leaflet-popup-tip-container::after {} */
/* .leaflet-popup-tip-container {} */
/* .leaflet-popup.tip {} */
/* .leaflet-popup {} */
/* .leaflet-popup-content-wrapper {}
/* .leaflet-popup-content {} */

.img-preview-toggle {
  /* display: none; */
  visibility: hidden;
}

/* leaflet requires a height to work properly */
/* attempted tailwind height and min height combinations fail */
#mapid {
  min-height: 50vh;
}

/* attempted tailwind max height and width combinations fail */
/* might be able to replace dynamically in main.js on event calls */
.img-preview {
  max-height: 180px;
  max-width: 180px;
}

#hidden-base64 {
  display: none;
}

/* style readonly inputs */
/* input[readonly] {
  background-color: #cccccc;
} */

/* https://www.w3schools.com/howto/howto_css_hide_arrow_number.asp */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
